.clock-wrapper{
    /* Variables */
    --width:80vmin;
    position: relative;    
    width: var(--width);
    height: var(--width);
    margin: auto;
    padding: 5px;
    /* background-color: rgba(0,0,0,0.2); */
    border-radius: 50%;
    /* box-shadow: 0 10px 15px rgba(0,0,0,.15),0 2px 2px rgba(0,0,0,.2); */
    border: solid 5px rgba(0,0,0,0.6);
    backdrop-filter: blur(4px);

}

.clock-indicator {
    position: absolute;
    width: 2px;
    height: 4px;
    margin: 113px 114px;
    background-color: black;
    /* Temp */
    display: none;
}
.clock-indicator:nth-child(1) {
    transform: rotate(30deg) translateY(-113px);
}
.clock-indicator:nth-child(2) {
    transform: rotate(60deg) translateY(-113px);
}
.clock-indicator:nth-child(3) {
    transform: rotate(90deg) translateY(-113px);
}
.clock-indicator:nth-child(4) {
    transform: rotate(120deg) translateY(-113px);
}
.clock-indicator:nth-child(5) {
    transform: rotate(150deg) translateY(-113px);
}
.clock-indicator:nth-child(6) {
    transform: rotate(180deg) translateY(-113px);
}
.clock-indicator:nth-child(7) {
    transform: rotate(210deg) translateY(-113px);
}
.clock-indicator:nth-child(8) {
    transform: rotate(240deg) translateY(-113px);
}
.clock-indicator:nth-child(9) {
    transform: rotate(270deg) translateY(-113px);
}
.clock-indicator:nth-child(10) {
    transform: rotate(300deg) translateY(-113px);
}
.clock-indicator:nth-child(11) {
    transform: rotate(330deg) translateY(-113px);
}
.clock-indicator:nth-child(12) {
    transform: rotate(360deg) translateY(-113px);
}
.clock-hour{
    position: absolute;
    z-index: 2;
    top: 80px;
    left: 128px;
    width: 4px;
    height: 65px;
    background-color: black;
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0,0,0,.2);
    transform-origin: 2px 50px;
    transition: .5s;
    animation: rotate-hour 43200s linear infinite;
}
.clock-minute{
    position: absolute;
    z-index: 3;
    top: 60px;
    left: 128px;
    width: 4px;
    height: 85px;
    background-color: black;
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0,0,0,.2);
    transform-origin: 2px 70px;
    transition: .5s;
    animation: rotate-minute 3600s linear infinite;
}
.clock-second{
    position: absolute;
    z-index: 4;
    top: 6%;
    /* The second value is half the width */
    left: calc(50% - 2px);
    /* The width of the second hand */
    width: 4px;
    /* The length of the second hand */
    height: 55%;
    background-color: #a00;
    box-shadow: 0 0 2px rgba(0,0,0,.2);
    transform-origin: 1px 80%; 
    transition: .5s;
    animation: rotate-second 60s steps(60) infinite;
}
.clock-second:after{
    position: absolute;
    content: "";
    display: block;
    left: -5px;
    bottom: 14px;
    width: 8px;
    height: 8px;
    /* background-color: #a00;
    border: solid 2px #a00; */
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0,0,0,.2);
}
